# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Create a Jupyter Notebook
* Insert code and markdown cells
* Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:
1. Paython
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. TensorFlow

|Data Science Tools|
|------------------|
|Apache Spark|
|TensorFlow|
|Tableau|
|Scikit-learn|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Aslam Attar